colorama==0.4.4
commentjson==0.9.0
lazy_object_proxy==1.6.0
stdlib-list==0.7.0  # TODO wait for upstream fix. stdlib-list==0.8.0 is poisoned by several commits from CJ-Wright that add non-public folders which should not be considered public standard libraries.
regex==2021.8.28
typing_extensions==3.10.0.2
